@model Sessao.Models.Carrinho

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Cancelar Carrinho", "Cancelar")

<ul>
    @{
        int i = 0;
        foreach(var produto in Model.Produtos)
        {
            <li>@produto.Nome (@produto.Preco) - @Html.ActionLink("Remover do Carrinho",
            "Remover", new { idx = i++})</li>
        }
    }
</ul>
